@import "styles/helpers/mixins";
@import "styles/helpers/vars";

.counter {
	position: relative;
}

.caption {
	font-size: 24px;
	line-height: 1.05;
	font-weight: 500;
	color: var(--body-color-60);
	@include media($laptop-small) {
		font-size: 16px;
	}
}

.num {
	font-size: 96px;
	line-height: 1.2;
	font-weight: 600;
	@include media($desktop-small) {
		font-size: 74px;
	}
	@include media($laptop) {
		font-size: 62px;
	}
}