.group {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {
  0%, 30%, 100% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(0);
  }
}