.group {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {
  0%, 30%, 100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-7px);

  }
  20% {
    transform: translateY(7px);

  }
}