@import "styles/helpers/mixins";
@import "styles/helpers/vars";

.section {
  margin-top: 200px;
  @include media($desktop-small) {
    margin-top: 120px;
  }
  @include media($phablet) {
    margin-top: 80px;
  }
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media($tablet) {
    display: block;
  }
}

.title {
  max-width: 700px;
  padding-right: 15px;
  @include media($tablet) {
    padding-right: 0;
    margin-bottom: 30px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 96px;
  @include media($desktop-small) {
    margin-top: 50px;
  }
  @include media($phablet) {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

//copypasted
.player {
  position: absolute;
  display: flex;
  top: 0;
  width: auto !important;
  height: auto !important;
  right: 2% !important;
  border-radius: 40px !important;
  overflow: hidden;
  @include media($laptop-middle) {
    right: 0;
    top: -25px;
    height: 124% !important;
    width: 103% !important;
  }
  @include media($laptop-small) {
    right: 0;
    top: -20px;
    //left: -9px;
    height: 124% !important;
    width: 100% !important;
    right: 0 !important;
  }
  right: 8%;
  border-radius: 40px !important;
  overflow: hidden;

  @include media($tablet) {
    height: auto !important;
    width: 100% !important;
    position: static;
    border-radius: 0px !important;

    video {
      border-radius: 40px !important;
    }
  }
}

.wrapper {
  position: relative !important;
  padding-top: 65%;
  margin-top: -25px;
  @include media($laptop-small) {
    margin-top: 0 !important;
  }
  @include media($desktop-small) {
    margin-top: 0;
  }

  @include media($tablet) {
    padding-top: 0;
  }
}

.listCard {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--body-color-60);

  div {
    height: 95px;
  }

  p {
    margin: 0;
  }

  b,
  strong {
    font-weight: 600;
    color: var(--body-color);
  }

  @include media($tablet) {
    font-size: 16px;
  }
  @include media($phablet) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    div {
      height: auto;
      flex: 0 0 85px;

      svg {
        max-width: 60px;
      }
    }
    p {
      flex: 1;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 557px 1fr;
  //grid-gap: 15px;
  align-items: center;
  //margin-left: calc((100% - 1380px) / 2);
  margin-top: 100px;
  grid-gap: 40px;
  @include media($desktop-small) {
    margin-left: 0;
  }
  @include media($laptop) {
    grid-gap: 30px;
  }
  @include media($laptop-small) {
    grid-template-columns: 1fr 1fr;
  }
  @include media($tablet) {
    grid-template-columns: 1fr;
  }
}

.subtitle {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0 0 30px;
  color: var(--body-color-40);
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.card {
  background-color: var(--grey-light);
  border-radius: 20px;
  padding: 40px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.cardHead {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include media($phablet) {
    svg {
      max-width: 60px;
      max-height: 60px;
      height: auto;
    }
  }
}

.cardTitle {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0 0 0 30px;
  @include media($phablet) {
    font-size: 22px;
    margin-left: 26px;
  }
}

.cardText {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 500;
  color: var(--body-color-60);

  p {
    margin: 0;
  }

  @include media($phablet) {
    font-size: 16px;
  }
}

.photo {
  font-size: 0;

  img {
    width: 100%;
    border-radius: 40px;
  }
}
