
.group2 {
  animation: anim2 3s ease-in-out infinite;
}

@keyframes anim2 {
  0%, 30%, 100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(10px);

  }
}

.group3 {
  animation: anim3 3s ease-in-out infinite;
}

@keyframes anim3 {
  0%, 30%, 100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px);

  }
}